main[class="col-12"] img {
    float: right;
    top: 0;
    margin-left: 3em;
    margin-bottom: 2em;
    position: relative;
    display: inline-block;
    max-width: 350px;
}


.grafico{
    max-width: none !important;
    float: none !important;
    width: 100%;
    margin:  0 0 2em 0 !important;
}



.section{
    max-width: 700px;
    text-align: justify;
}

.center{
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (min-width: 768px) {
    
    .grafico{
        width: 49%;
        
    }
    .center .grafico{
        width: 75%;
        margin-left: 6vw !important;
    }
}