.dark-primary-color    {background-color: rgb(253, 216, 53) !important; }
.light-primary-color   { background-color: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background-color: #536DFE; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
